body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
   margin-right: 10px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-right: 20px;  
}

li:last-child {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: #048202;
  position: relative;
  margin-right: 20px;

  display: inline-block;
    padding: 9px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #06a204;
    border: 1px solid #023101;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

a:hover {
  color: #023101;
}

ul li a {
  margin-right: 20px;
}
