body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  color: #4CAF50;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow:0 4px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.todo-list {
  list-style-type: none;
  padding: 0;  
}

.todo-list li {
  background-color: #dfdfdf;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 0.3s ease;
}

.todo-list li:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.todo-list li h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.todo-list li p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #252525;
}

.actions {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.actions a {
  background-color: #ccc;
  color: #333;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
}

.actions a:hover {
  background-color: #bbb;
}

.form-create label {
  font-weight: bold; 
  color: #333;
  display: block;
  margin-bottom: 8px;
}

select {
  width: 200px; 
  padding: 5px; 
  font-size: 16px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
}

option {
  padding: 10px;
  font-size: 14px;
  background-color: #f0f0f0; 
  color: #333; 
}

.form-create {
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.575);
  margin: 0 auto;
}

.form-create label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-create input[type="text"],
.form-create textarea,
.form-create select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-create input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-create input[type="submit"]:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: #bbb;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form select {
    margin-top: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

.create-item {
  text-align: right;
  margin-bottom: 20px;
}

.create-item a {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 4px;
}

.create-item a:hover {
  background-color: #45a049;
}

.todo-list-read {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.todo-list-read li {
  background-color: #dfdfdf;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 0.3s ease;
}

.todo-list-read li:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.todo-list-read li h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.todo-list-read li p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #252525;
}

.todo-list-read a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.todo-list-read a:hover {
  background-color: #45a049;
}

.priority-leve {
  color: #069406;
}

.priority-normal {
  color: #FFA500;
}

.priority-urgente {
  color: #FF0000;
}

.pendente {
  color: #FF0000;
}

.concluido {
  color: green;
}